html,
body {
  overflow-x: hidden;
}
body {
  padding: 0px;
  margin: 0px;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
/* @import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Poppins:ital,wght@1,500&display=swap"); */
/* html {
  scroll-behavior: smooth;
} */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-inner-container {
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 100px;
  height: auto;
  text-align: center;
}
.others-member-title {
  margin-top: 100px;
  margin-bottom: 60px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #2f80ed;
}
h2 {
  font-family: "PT Serif", serif;
}
.header {
  background-image: url("../img/heroBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 115vh;
}

.header-body {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header-body > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 800px;
}
.header-scroll {
  display: inline-block;
  position: absolute;
  left: 48%;
  top: 60%;
}
.scroll-btn:hover {
  cursor: pointer;
}
.brand {
  height: 301px;
  background-color: white;
  border-radius: 10rem 10rem 0 0;
  margin-top: -18.75rem;
  z-index: 1;
}
.our-brand-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-top: 10vh; */
  align-items: center;
  margin-left: 70px;
}
.our-brand-img > img {
  margin-top: 80px;
  width: 200px;
  height: auto;
  margin-right: 80px;
}

.our-industry {
  background-image: url("../img/industryBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  z-index: 2;
  margin: 100px 0;
}
.our-industry-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7rem;
}
.industry-left {
  width: 30%;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 40px;
}
.industry-left h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  margin-right: 20px;
}
.industry-border {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.industry-border-1 {
  border: 2px solid #fff;
  height: 150px;
  margin-right: 5px;
}
.industry-border-2 {
  border: 2px solid #fff;
  height: 200px;
  margin-right: 5px;
}
.industry-border-3 {
  border: 2px solid #fff;
  height: 150px;
  margin-right: 5px;
}
.industry-right {
  width: 70%;
  /* display: flex;
  align-items: center; */
}
#industrySlider {
}
.lSAction > .lSPrev {
  background-image: url("/img/LeftSLiderBtn.png") !important;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0px;
}
.lSAction > .lSNext {
  background-image: url("/img/RightSliderBtn.png") !important;
  background-repeat: no-repeat;
  background-size: contain;
  right: 0px;
}
.lSAction > a {
  display: block;
  top: 50%;
  height: 70px !important;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: -16px;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s linear 0s;
  transition: opacity 0.35s linear 0s;
}
.section-inner-container .lSAction > a {
  display: none !important;
}
.industry-item {
  background-color: white;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  border-radius: 8px;
  margin-left: 20px;
  overflow: auto;
  max-height: 20rem;
  scrollbar-color: #ffffff #0f4b91;
  scrollbar-width: thin;
}

.industry-item::-webkit-scrollbar {
  width: 6px;
}

.industry-item::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.industry-item::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #0f4b91;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
.industry-item h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 25px;
  margin: 0px;
  color: #2f80ed;
  text-align: center;
}
.industry-item p {
  margin: 20px 0px 0px 0px;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
  color: #373737;
}
/* .agenda-section {
  margin: 25px;
  padding: auto;
  max-width: 970px;
} */
.agenda-top {
  margin-top: 10px;
  background-image: url("../img/our-agenda.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 200px;
}
.agenda-logo {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  /* margin-right: 0px; */
  position: relative;
  /* overflow: hidden; */
}
.agenda-logo > img {
  height: 50px;
  width: 100px;
  left: auto;
  position: absolute;
  opacity: 0.5;
  transform: rotate(271deg);
}
.agenda-body {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
.agenda-left {
  width: 40%;
}
.agenda-left img {
  width: 70%;
}
.agenda-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}
.agenda-border-1 {
  border-bottom: 2px solid rgba(15, 75, 145, 1);
  width: 150px;
  margin-bottom: 5px;
}
.agenda-border-2 {
  border-bottom: 2px solid rgba(15, 75, 145, 1);
  width: 200px;
  margin-bottom: 5px;
}
.agenda-border-3 {
  border-bottom: 2px solid rgba(15, 75, 145, 1);
  width: 150px;
  margin-bottom: 5px;
}
.gallery-section {
  margin-top: 100px;
}
.gallery-top {
  margin-top: 10px;
  background-image: url("../img/our-gallery-text.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 200px;
  margin-bottom: 100px;
}
.gallery-body {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10%;
}
/* #lightSlider {
  height: 80vh !important;
} */
.members-top {
  margin-top: 10px;
  background-image: url("../img/our-panel-member-text.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 200px;
}
.members-body {
  margin-top: 100px;
}
.membersSecondPart-body {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  justify-content: center;
  grid-gap: 2rem;
}
.members-body h2,
.membersSecondPart-body h2 {
  background: linear-gradient(
    98.69deg,
    #0f4b91 8.62%,
    #1772eb 59.17%,
    #4e97f8 99.1%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 42.4px;
  font-size: 32px;
  text-align: center;
  font-family: "PT Serif", serif;
}
.members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  justify-content: center;
  grid-gap: 2rem;
}

.members2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  justify-content: center;
  grid-gap: 2rem;
  margin-top: -40px;
}
.members > div {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  height: 458px;
}
.membersSecondPart > div {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  height: 450px;
  width: 300px;
}
/* .li_member {
  height: 450px;
} */
.member-img > img {
  width: 100%;
  z-index: 1;
}

.member-details {
  position: relative;
  background-image: url("../img/profileShape.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% 100%;
  /* width: 200px; */
  margin-top: -100px;
  /* z-index: 5; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.member-details > div {
  /* padding: 20px 30px; */
  text-align: center;
  line-height: 9px;
}
.li_member .member-details {
  padding-bottom: 30px;
}
.member-details h3 {
  color: rgba(31, 77, 240, 1);
  font-family: "PT Serif", serif;
  font-weight: 700;
}

.member-details h4 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  color: rgba(55, 51, 52, 0.7233);
  font-size: 14px;
}
.member-details h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin-top: 32px;
}
.ballot {
  background: linear-gradient(
    98.69deg,
    #0f4b91 8.62%,
    #1772eb 59.17%,
    #4e97f8 99.1%
  );
  padding: 15px 10px;
  border-radius: 20px;
  width: 100px;
  margin: 0 auto;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 35px;
  font-weight: 700;
  font-family: "PT Serif", serif;
  font-size: 12px;
  font-style: normal;
}
.button {
  background: linear-gradient(
    98.69deg,
    #0f4b91 8.62%,
    #1772eb 59.17%,
    #4e97f8 99.1%
  );
  border-radius: 4px;
  padding: 10px 30px;
  /* margin-top: 0px; */
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  width: fit-content;
  margin: 0 auto;
  /* margin: 0 auto !important; */
}
.contact-section {
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
}
.contact-full {
  margin-top: -10px;
}
.contact-top {
  background-image: url("../img/contact.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 200px;
  /* margin-bottom: -150px; */
}
.contact-body {
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 650px;
  position: relative;
  z-index: 1;
}
.contact-column {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: auto;
  position: relative;
  padding-top: 180px;
  padding-right: 180px;
  /* width: 50%; */
}
.contact-left {
  position: absolute;
  margin-left: 220px;
  margin-top: -200px;
}
.contact-left > img {
  width: 60%;
}

.contact-form {
}
.contact-form-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  /* margin-right: 100px; */
}
.contact-form-top > .contact-border {
  height: 6px;
  width: 120px;
  border-radius: 4px;
  background-color: #fff;
}
.contact-form-top > .contact-title {
  font-size: 20px;
  text-align: right;
}

.form-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: 500px;
  margin-right: -120px;
}
.form-left {
  margin-right: 20px;
}
.form-right {
  position: relative;
  margin-right: -40px;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 2px 10px;
  background: linear-gradient(
    98.69deg,
    #0f4b91 8.62%,
    #1772eb 59.17%,
    #4e97f8 99.1%
  );
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  /* left: 1779px;
  top: 3010px; */
  position: absolute;
  right: 10px;
  top: 100px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
}
.up-button {
  /* position: absolute; */
  float: right;
  /* margin-top: -50px; */
  margin-top: 40px;
  margin-right: 50px;
  z-index: 2;
}
.up-button > img {
  width: 71.62px;
  height: 71.98px;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  line-height: 20.29px;
  font-size: 15px;
  resize: none;
  font-family: "PT Sans", sans-serif;
}
/********************   profile    *****************/
.header-profile {
  background-image: url("../img/header-profile.png");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  height: 145vh;
}
.backBtn {
  text-decoration: none;
  background: transparent;
  border-radius: 4px;
  padding: 10px 30px;
  margin-top: 30px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid white;
  float: right;
  margin-right: 20px;
}
.profile-section {
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
}

.profile-section img {
  width: 76%;
  padding-bottom: 28px;
  /* height: 100%; */
  margin-top: 0 auto;
}
.trapezoid-bio {
  position: relative;
  text-align: center;
  color: white;
  width: 343px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: -39px;
}
.card-title {
  position: absolute;
  font-family: "PT Serif", serif;
  top: 38%;
  left: 50% !important;
  transform: translate(-50%, -50%);
  color: #e7eeff;
  line-height: 15px;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  text-shadow: -1px 0px 2px rgba(255, 239, 192, 0.2),
    1px 0px 2px rgba(180, 134, 0, 0.2);
}
.li_member {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  height: auto;
}

.li_member .member-details h2 {
  font-size: 18px !important;
  line-height: 25px;
  font-family: "Ubuntu", sans-serif;
  background: linear-gradient(
    98.69deg,
    #0f4b91 8.62%,
    #1772eb 59.17%,
    #4e97f8 99.1%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sliderBtn > p {
  text-align: center;
  display: inline-block;
  padding: 10px;
  position: relative;
}
.sliderBtn {
  margin-top: -100px;
}
.sliderBtn > #goToPrevSlide {
  margin: 0 auto;
  border: none !important;
  width: 76px;
  position: relative;
  top: 50%;
  /* background: linear-gradient(
    98.69deg,
    #0f4b91 8.62%,
    #1772eb 59.17%,
    #4e97f8 99.1%
  );
  padding: 10px;
  border-radius: 15px; */
  cursor: pointer;
}

.sliderBtn > #goToNextSlide {
  margin: 0 auto;
  border: none !important;
  margin-bottom: 50px;
  position: relative;
  top: -32px;
  cursor: pointer;
}

.sliderBtn > button > img {
  width: 100%;
}
#memberSlider {
  margin-bottom: 1px;
  height: 100% !important;
  position: relative;
  padding-bottom: 30px !important;
}
.member-btn {
  /* position: absolute; */
  left: 45%;
  /* margin-top: -100px; */
}
.profile-content {
  text-align: center;
}
.profile-content img {
  width: 100%;
}
.profile-content h2 {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 20px;
  text-align: center;
  color: rgba(78, 78, 78, 0.9022);
}
.profile-content h4 {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.profile-content h3 {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.profile-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
.profile-brand img {
  width: 26%;
  margin-left: 10px;
  height: auto;
}
.card-img {
  width: 510px;
  margin-left: 5px;
  margin-top: -5px;
}
.card {
  width: 40%;
  height: 510px;
  background-color: white;
  padding: 15px;
  border-radius: 12% 12% 6px 6px;
  margin: 15px;
  text-align: center;
  position: relative;
  overflow: hidden !important;
}
.card-content {
  position: relative;
  overflow: auto;
  height: 387px;
  padding: 10px;
  font-family: PT Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: rgba(73, 70, 71, 0.8103);
  scrollbar-color: #ffffff #0f4b91;
  scrollbar-width: thin;
}
.card-content::-webkit-scrollbar {
  width: 1px;
}
.card-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.card-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid #1772eb;
}
.key-content {
  position: relative;
  overflow: auto;
  height: auto;
  padding: 38px 0px 71px 12px;
  scrollbar-color: #ffffff #0f4b91;
  scrollbar-width: thin;
}
.key-content::-webkit-scrollbar {
  width: 1px;
}
.key-content:-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.key-content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid #1772eb;
}
.profile-card {
  /* height: 600px; */
  height: 780px;
  text-align: center;
  padding: 0px;
}
.profile-card h3 {
  /* height: 600px; */
  font-family: "PT Serif", serif !important;
}

.card > {
}
.agendaItem {
  background: linear-gradient(180deg, #3c454a 0%, #003c8c 100%);
  color: white;
  padding: 30px;
  border: 8px solid #2f80ed;
  border-radius: 5px;
  overflow: auto;
  overflow-y: scroll;
  max-height: 23rem;
}
.agendaItem::-webkit-scrollbar {
  width: 6px;
}

.agendaItem::-webkit-scrollbar-track {
  background-color: #0f4b91;
  border-radius: 100px;
}

.agendaItem::-webkit-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 100px;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
.agendaItem::-moz-scrollbar {
  width: 6px;
}

.agendaItem::-moz-scrollbar-track {
  background-color: #0f4b91;
  border-radius: 100px;
}

.agendaItem::-moz-scrollbar-thumb {
  background-color: #e4e4e4;
  border-radius: 100px;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
.agendaItem h2 {
  font-family: "PT Serif", serif;
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
}

.agendaItem ul {
  margin-left: -20px;
}
.agendaItem li {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  margin-top: 15px;
  list-style-position: inside;
  text-indent: -1em;
}
.agendaItem li::before {
  content: "▣"; /* Insert content that looks like bullets */
  padding-right: 8px;
  color: #2f80ed; /* Or a color you prefer */
  height: 100%;
}
.agenda-right {
  width: 60%;
}
.agendaBtn {
  color: linear-gradient(
    98.69deg,
    #0f4b91 8.62%,
    #1772eb 59.17%,
    #4e97f8 99.1%
  );

  border-radius: 5px;
  padding: 18px;
  margin-top: 32px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}
.agendaBtnActive {
  background: linear-gradient(
    98.69deg,
    #0f4b91 8.62%,
    #1772eb 59.17%,
    #4e97f8 99.1%
  );
  color: white;
}

.card > .key-content > ul {
  text-align: left;
  font-family: "PT Serif";
  list-style-type: none !important;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: rgba(73, 70, 71, 0.8103);
  margin-bottom: 1rem;
  background: url("/img/list.png") no-repeat left top;
  background-size: 25px 27px 11px;
  padding: 0px 10px 0px 40px;
  margin: 30px 0px 0px 0px;
}

.card > ul > li {
  padding-left: 8px;
}

.headerFooter {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* font-weight: 700; */
  /* font-size: 20px; */
  line-height: 0px;
  margin-top: 20px;
}
.headerFooter > p {
  margin-left: 20%;
  color: rgba(26, 23, 23, 0.83);
  font-weight: 700;
}

@media only screen and (max-width: 900px) {
  .agenda-body {
    display: block;
  }
  .agenda-left,
  .agenda-right {
    width: 100%;
  }
}
@media only screen and (max-width: 1100px) {
  .industry-left {
    text-align: center;
    display: inline;
  }
  .our-industry-body {
    display: block;
    padding: 4rem;
  }
  .industry-left,
  .industry-right {
    width: 100%;
  }
  .industry-border {
    display: none;
  }
  .our-industry {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .card > p {
    color: rgba(73, 70, 71, 0.81);
    font-family: PT Serif;
    font-size: 17px;
    line-height: 24.5px;
    font-weight: 700;
  }
  .card > ul {
    list-style: square;
    text-align: left;
    color: rgba(73, 70, 71, 0.81);
    font-family: PT Serif;
    font-size: 17px;
    line-height: 60.5px;
    font-weight: 700;
  }

  .headerFooter {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* font-weight: 700; */
    /* font-size: 20px; */
    line-height: 0px;
    margin-top: 20px;
  }
  .headerFooter > p {
    margin-left: 20%;
    color: rgba(26, 23, 23, 0.83);
    font-weight: 700;
  }
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.agenda-right .lSAction {
  display: none !important;
}
.industry-right .lSAction {
  display: none !important;
}
.pdfSection {
  margin-top: 100px;
  background-image: url("/img/manifesto.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Center the image */
}
.pdfBody {
  text-align: center;
  padding: 50px 0;
  color: white;
  font-family: "PT Sans", sans-serif;
}
.pdfBody h2 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 32px;
  margin: 0;
}
.pdfBody h4 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 30px;
}
.pdfBody a {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  background-color: white;
  text-decoration: none;
  color: rgba(15, 75, 145, 1);
  padding: 16px 40px;
}
.disabledIndustryBtn {
  visibility: hidden;
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.videoHeader {
  background: #ffffff;
  box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px 50px 0px 0px;
  text-align: center;
  padding: 10px 0px;
  margin-top: 100px;
}
.videoHeader h2 {
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #2f80ed;
}
