body {
  padding: 0px;
  margin: 0px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
.section-inner-container {
  padding: 0 20px;
}
.header {
  background-image: url("../img/heroBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 110vh;
}

.header-body {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header-body > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 800px;
}
.header-scroll {
  display: flex;
  position: relative;
  padding-top: 380px;
  padding-left: 80px;
}
.scroll-btn:hover {
  cursor: pointer;
}
.brand {
  height: 230px;
  background-color: white;
  border-radius: 160px 160px 0px 0px;
  margin-top: -142px;
  z-index: 1;
}
.our-brand-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-top: 10vh; */
  align-items: center;
}
.our-brand-img > img {
  margin-top: 80px;
  width: 200px;
  height: auto;
  margin-right: 80px;
}

.our-industry {
  background-image: url("../img/industryBg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
  height: 100vh;
}
.our-industry-body {
  display: flex;
  flex-direction: row;
  flex-shrink: 3;
  padding: 20vh;
}
.industry-left {
  width: 40%;
  font-size: 45px;
  color: #fff;
  display: flex;
  flex-direction: row;
}
.industry-left h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 45px;
}
.industry-border {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.industry-border-1 {
  border: 2px solid #fff;
  height: 150px;
  margin-right: 5px;
}
.industry-border-2 {
  border: 2px solid #fff;
  height: 200px;
  margin-right: 5px;
}
.industry-border-3 {
  border: 2px solid #fff;
  height: 150px;
  margin-right: 5px;
}
.industry-right {
  width: 60%;
}
#industrySlider {
}
.industry-item {
  background-color: white;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  border-radius: 15%;
}
.industry-item h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 25px;
  margin: 0px;
  color: #2f80ed;
  text-align: center;
}
.industry-item p {
  margin: 20px 0px 0px 0px;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 25px;
  text-align: justify;
  color: #373737;
}
/* .agenda-section {
  margin: 25px;
  padding: auto;
  max-width: 970px;
} */
.agenda-top {
  margin-top: 10px;
  background-image: url("../img/our-agenda.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 200px;
}
.agenda-body {
  display: flex;
  flex-direction: row;
}
.agenda-left {
  width: 40%;
  padding: 50px;
}
.agenda-left img {
  width: 70%;
}
.agenda-border {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}
.agenda-border-1 {
  border-bottom: 2px solid rgba(15, 75, 145, 1);
  width: 150px;
  margin-bottom: 5px;
}
.agenda-border-2 {
  border-bottom: 2px solid rgba(15, 75, 145, 1);
  width: 200px;
  margin-bottom: 5px;
}
.agenda-border-3 {
  border-bottom: 2px solid rgba(15, 75, 145, 1);
  width: 150px;
  margin-bottom: 5px;
}
.gallery-top {
  margin-top: 10px;
  background-image: url("../img/our-gallery-text.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 200px;
  margin-bottom: 100px;
}
.gallery-body {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10%;
}

.members-top {
  margin-top: 10px;
  background-image: url("../img/our-panel-member-text.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 200px;
}
.members-body {
  margin-top: 100px;
}
.members-body h2 {
  background: linear-gradient(
    98.69deg,
    #0f4b91 8.62%,
    #1772eb 59.17%,
    #4e97f8 99.1%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 42.4px;
  font-size: 23px;
  text-align: center;
  font-family: "PT Serif", serif;
}
.members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  justify-content: center;
  grid-gap: 2rem;
}
.members2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  justify-content: center;
  grid-gap: 2rem;
  margin-top: -40px;
}
.members > div {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}
.member-img img {
  width: 100%;
  z-index: 1;
}
.member-details {
  position: relative;
  background-image: url("../img/profileShape.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100% 100%;
  /* width: 200px; */
  margin-top: -100px;
  /* z-index: 5; */
}
.member-details > div {
  padding: 50px 30px;
  text-align: center;
  line-height: 15px;
}
.member-details h3 {
  color: rgba(31, 77, 240, 1);
  font-family: "PT Serif", serif;
}

.member-details h4 {
  font-family: "PT Serif", serif;
  color: rgba(55, 51, 52, 0.7233);
  font-size: 16px;
}
.ballot {
  background: linear-gradient(
    98.69deg,
    #0f4b91 8.62%,
    #1772eb 59.17%,
    #4e97f8 99.1%
  );
  padding: 5px 10px;
  border-radius: 20px;
  width: 100px;
  margin: 0 auto;
  color: #fff;
}
.member-details button {
  background: linear-gradient(
    98.69deg,
    #0f4b91 8.62%,
    #1772eb 59.17%,
    #4e97f8 99.1%
  );
  border-radius: 4px;
  padding: 20px 60px;
  margin-top: 40px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.contact-top {
  background-image: url("../img/contact.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 200px;
  /* margin-bottom: -150px; */
}
.contact-body {
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 650px;
  position: relative;
  z-index: 1;
}
.contact-column {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  height: auto;
  position: relative;
  padding-top: 180px;
  padding-right: 180px;
  /* width: 50%; */
}
.contact-left {
  position: absolute;
  margin-left: 220px;
  margin-top: -200px;
}
.contact-left > img {
  width: 60%;
}

.contact-form {
}
.contact-form-top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  /* margin-right: 100px; */
}
.contact-form-top > .contact-border {
  height: 6px;
  width: 120px;
  border-radius: 4px;
  background-color: #fff;
}
.contact-form-top > .contact-title {
  font-size: 20px;
}

.form-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: 500px;
  margin-right: -120px;
}
.form-left {
  margin-right: 20px;
}
.form-right {
  position: relative;
  margin-right: -40px;
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 2px 10px;
  background: linear-gradient(
    98.69deg,
    #0f4b91 8.62%,
    #1772eb 59.17%,
    #4e97f8 99.1%
  );
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  /* left: 1779px;
  top: 3010px; */
  position: absolute;
  right: 10px;
  top: 100px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 27px;
}
.up-button {
  /* position: absolute; */
  display: flex;
  justify-content: flex-end;
  /* margin-top: -50px; */
  margin-top: 40px;
  margin-right: 50px;
  z-index: 2;
}
.up-button > img {
  width: 71.62px;
  height: 71.98px;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: rgba(83, 83, 83, 0.8);
  line-height: 23.29px;
  font-size: 18px;
  resize: none;
}
/********************   profile    *****************/
.header-profile {
  background-image: url("../img/header-profile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 110vh;
}
.backBtn {
  background: transparent;
  border-radius: 4px;
  padding: 20px 60px;
  margin-top: 30px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid white;
  float: right;
}
.profile-section {
  clear: both;
  display: flex;
  justify-content: space-between;
}

.profile-section img {
  width: 600px;
}

.li_member {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
}
.sliderBtn {
  text-align: center;
}
#memberSlider {
}
