@media only screen and (max-width: 2560px) {
  .profile-card {
    height: 790px;
    width: auto !important;
  }
  .header-profile {
    height: auto;
  }
  .card {
    width: 30%;
    /* margin: 70px; */
  }
  .card-img {
    margin-left: 65px;
    margin-top: -15px;
  }
  .trapezoid-bio > img {
    width: 144%;
  }
  .trapezoid-bio {
    margin: -39px 240px;
  }
  .card-title {
    top: 37%;
    left: 71%;
    transform: translate(-50%, -50%);
    color: #e7eeff;
    line-height: 24px;
    font-weight: 700;
    font-size: 25px;
  }
  .card-content {
    font-size: 19px;
    line-height: 25px;
  }
  /* .profile-section > div {
    margin: 80px !important;
  } */
}
@media only screen and (max-width: 1980px) {
  .profile-card {
    height: 790px !important;
    width: auto !important;
  }
  .profile-brand {
    margin-top: 39px;
  }
  .header-profile {
    height: auto;
  }
  .card {
    width: 40%;
    height: 600px;
    /* margin: 70px; */
  }
  .card-img {
    /* margin-left: 30px;
    margin-top: -15px; */
    margin-left: 28px;
    margin-top: -15px;
  }
  .card-content {
    font-size: 19px;
    line-height: 25px;
  }
  .trapezoid-bio > img {
    width: 144%;
  }
  .trapezoid-bio {
    margin: -39px 193px;
  }
  .card-title {
    top: 37%;
    left: 71%;
    transform: translate(-50%, -50%);
    color: #e7eeff;
    line-height: 24px;
    font-weight: 700;
    font-size: 25px;
  }
  /* .profile-section > div {
    margin: 80px !important;
  } */
}
@media only screen and (max-width: 1440px) {
  .profile-brand {
    margin-top: -35px;
  }
  .card-img {
    margin-left: 45px;
    margin-top: -15px;
  }

  .profile-card {
    height: 395px;
  }
  .trapezoid-bio > img {
    width: 100%;
  }
  .card-title {
    top: 38%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: #e7eeff;
    line-height: 15px;
    font-weight: 700;
    font-size: 14px;
  }
  .trapezoid-bio > img {
    width: 104%;
  }
  .trapezoid-bio {
    margin: -39px 89px;
  }
  .card-content {
    font-size: 19px;
    line-height: 25px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .header-profile {
    height: auto;
  }
  .card {
    height: auto;
  }
  .profile-card {
    height: 690px;
    width: auto !important;
  }
  .profile-section > img {
    margin: 0 auto;
    width: 71%;
  }
  .card-img {
    width: auto;
  }
}
@media only screen and (max-width: 767px) {
  .contact-body {
    padding: 0 60px;
    background-size: cover;
  }
  .contact-left {
    display: none;
  }
  .form-content {
    margin: 0;
  }
  .contact-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: auto;
    position: relative;

    /* width: 50%; */
  }
  .contact-column {
    padding-right: 0px;
  }
  .form-right {
    margin: 0;
  }
}
@media only screen and (max-width: 540px) {
  .brand {
    height: 235px;
  }
  .our-industry {
    background-size: cover;
  }
  .industry-left h2 {
    font-size: 25px;
  }
  .industry-item h2 {
    font-size: 20px;
  }
  .industry-right .lSAction {
    display: block !important;
  }
  .industry-right .lSAction .lSPrev {
    left: 18px;
  }
  #industryNextSlide,
  #industryPrevSlide {
    display: none !important;
  }
  .agenda-left {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .contact-body {
    padding: 0;
  }
  .industry-item h2 {
    font-size: 15px;
    margin: 5px;
  }
  .our-industry-body {
    padding: 1rem;
  }
  .header {
    height: 60vh;
  }
  .header-body {
    top: 20%;
  }
  .header-body > img {
    width: 80%;
  }
  .brand {
    height: 15vh;
    border-radius: 60px 60px 0px 0px;
    margin-top: -120px;
  }
  .our-brand-img > img {
    margin-top: 30px;
    width: 100px;
    height: auto;
    margin-right: 20px !important;
  }
  .our-brand-img {
    margin-left: 20px !important;
  }

  .industry-border {
    margin-left: 10px;
    margin-top: 70px;
    margin-right: 20px;
  }
  .industry-border-1,
  .industry-border-3 {
    height: 80px;
  }
  .industry-border-2 {
    height: 100px;
  }
  .industry-item {
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 15px;
    overflow: auto;
    height: 300px;
  }
  .industry-item h2 {
    border-radius: 3%;
    font-size: 15px;
    margin: 5px;
  }
  .industry-item p {
    text-align: justify;
  }

  .agenda-top {
    height: 200px;
  }
  .agenda-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
  }
  .agenda-left {
    padding: 20px;
  }
  .agenda-border {
    margin-top: 30px;
  }
  .gallery-body {
    margin-top: -150px;
  }
  .members-top {
    height: 100px;
  }
  .members-body {
    margin-top: 20px;
  }

  input[type="text"] {
    width: 90%;
    padding: 6px 10px;
    margin-left: 14px;
    margin-top: 0px;
  }
  textarea {
    width: 150px;
    height: 100px;
    padding: 6px 10px;
    line-height: 15.29px;
    font-size: 10px;
    resize: none;
  }
  input[type="submit"] {
    padding: 2px 10px;
    right: 10px;
    top: 60px;
    font-weight: 400;
    font-size: 10px;
    line-height: 25px;
  }
  .contact-top {
    margin-bottom: 50px;
  }
  .contact-body {
    height: 300px;
    margin-top: -100px;
  }
  .contact-column {
    padding-top: 200px;
    padding-right: 40px;
    /* width: 50%; */
  }
  .contact-left {
    display: none;
  }

  .contact-form-top {
    margin-right: -14px;
    margin-top: -123px;
  }
  .contact-form-top > .contact-border {
    height: 3px;
    width: 90px;
    border-radius: 4px;
    background-color: #fff;
  }
  .contact-form-top p {
    font-size: 10px;
  }
  .contact-title {
    font-size: 10px !important;
    margin-top: -10px;
  }

  .form-content {
    margin-right: 13px;
    margin-left: 62px;
    margin-top: -4px;
  }

  .up-button > img {
    position: absolute;
    top: 234px;
    width: 25.62px;
    z-index: 1;
    height: 20.98px;
    /* margin-top: -265px !important; */
  }

  .header-scroll {
    top: 30%;
    left: 43%;
  }
  .scroll-btn {
    width: auto;
  }

  .card {
    width: auto;
    height: auto;
    padding: 15px;
    margin: 20px;
    text-align: center;
    overflow: scroll;
  }
  .card > button {
    border: none;
    position: sticky;
    width: 129px;
    height: 31px;
    left: 20px;
    margin-top: -30px;
  }
  .profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
  }
  /* .profile-content {
    margin: 10px auto;
    width: 380px;
  } */
  .ballot {
    padding: 10px 2px;
    border-radius: 20px;

    margin: 0 auto;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .button {
    padding: 10px 10px;
    width: 100px;
    margin: 0 auto;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #memberSlider {
    margin-bottom: -90px;
    font-size: auto;
  }
  .contact-full {
    margin-top: -183px;
  }
  .header-profile {
    background-size: cover;
    height: auto;
  }
  .li_member {
    height: 340px;
  }
  .li_member .member-img {
    height: auto;
  }
  .li_member .member-details {
    margin-top: -80px;
  }
  .li_member > .member-details > div {
    /* padding: 20px 30px; */
    height: 100px;
    line-height: 14px;
  }
  .li_member .member-details .button {
    /* padding: 20px 30px; */
    position: absolute;
    left: 10%;
    top: 52%;
    margin-top: 104px !important;
  }
  .li_member .member-details .ballot {
    /* padding: 20px 30px; */
    position: absolute;
    left: 14%;
    top: 56%;
    margin-top: 50px !important;
  }
  .li_member .member-details h2 {
    font-size: 14px !important;
  }
  .li_member h2 {
    height: auto;
  }
  .li_member h3 {
    font-size: 14px;
  }
  .li_member h4 {
    font-size: 14px;
  }
  .card > .key-content > ul {
    font-size: 15px;
    background: url("/img/list.png") no-repeat left top;
    background-size: 20px 20px 11px;
    line-height: 20px;
    padding-left: -25px !important;
  }
  .agenda-logo > img {
    left: auto;
  }
  .profile-card {
    /* height: auto; */
    width: 363px !important;
    order: -1;
  }
  .profile-card > img {
    margin: 0 auto;
  }
  .card-img {
    width: auto;
  }
  .card {
    width: auto;
    height: auto;
    padding: 15px;
    margin: 15px;
    text-align: center;
    overflow: scroll;
  }
  .profile-content {
    text-align: center !important;
    line-height: 2px;
  }
  .profile-brand {
    margin-top: -19px;
  }
  .profile-content h2 {
    font-size: 25px;
  }
  .card-content,
  .key-content > ul > li {
    font-size: 25px;
    line-height: 35px;
  }
  .profile-content h4 {
    font-size: 17px;
  }
  .profile-content img {
    width: 100%;
  }
  .sliderBtn > #goToPrevSlide {
    width: 50px;
    top: 50%;
    margin-right: 10px;
  }
  .sliderBtn > p {
    padding: 8px;
  }
  .sliderBtn > button > img {
    width: 50px !important;
  }
  .sliderBtn > #goToNextSlide {
    margin-bottom: 50px;
    top: -32px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #memberSlider {
    margin-bottom: -60px;
    font-size: 12px;
  }
  .contact-full {
    margin-top: -60px;
  }
  .header {
    height: 100vh;
  }
  .header-body {
    top: 25%;
  }
  .header-body > img {
    width: 80%;
  }
  .brand {
    border-radius: 100px 100px 0px 0px;
    margin-top: -182px;
  }

  .section-container {
    margin: 0px;
    padding: 0 px;
  }

  .industry-border {
    margin-left: 10px;
    margin-top: -200px;
    margin-right: 20px;
  }

  .industry-item {
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.1);
    font-size: 15px;

    overflow: scroll;
  }
  .industry-item h2 {
    border-radius: 3%;
    margin: 5px;
  }

  .agenda-top {
    height: 150px;
  }
  .agenda-left {
    padding: 30px;
  }
  .agenda-border {
    margin-top: -30px;
  }
  .gallery-body {
    margin-top: -100px;
  }
  .members-top {
    margin-top: 20px;
    height: 100px;
  }
  /* .members {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, max-content));
    justify-content: center;
    grid-gap: 2rem;
  } */

  /* Dealing with single orphan */

  .members > div {
    flex: 0 0 calc(25% - autofit);
  }
  .members-body {
    margin-top: 20px;
  }
  .header-scroll {
    top: 45%;
  }
  .scroll-btn {
    width: auto;
  }

  .agenda-logo > img {
    left: auto;
  }

  .contact-top {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 100px;
  }
  .contact-body {
    height: 500px;
    margin-top: -130px;
  }

  .contact-column {
    padding-top: 140px;
    padding-right: 40px;
  }

  .contact-left {
    position: absolute;
    margin-left: 120px;
    margin-top: -80px;
  }
  .contact-left > img {
    width: 30%;
  }
  .contact-top {
    height: 100px;
  }
  .contact-body {
    height: 300px;
    margin-top: -100px;
  }

  .contact-form-top {
    margin-right: 10px;
    margin-top: -105px;
  }
  .contact-form-top > .contact-border {
    height: 3px;
    width: 90px;
    border-radius: 4px;
    background-color: #fff;
  }
  .contact-form-top p {
    font-size: 10px;
  }
  .contact-title {
    font-size: 15px !important;
    margin-top: -5px;
  }

  .form-content {
    margin-left: 450px;
    margin-right: 10px;
  }

  .form-left {
    margin-right: 40px;
    margin-left: -236px;
  }
  .form-right {
    margin-right: -25px;
  }
  input[type="text"] {
    width: 100%;
    padding: 6px 10px;
    margin-left: 20px;
    margin-top: 0px;
  }
  textarea {
    width: 200px;
    height: 120px;
    padding: 6px 10px;
    line-height: 20.29px;
    font-size: 15px;
    resize: none;
  }
  input[type="submit"] {
    padding: 2px 10px;
    right: 10px;
    top: 80px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
  }
  .up-button > img {
    width: 66.62px;
    height: 60.98px;
    margin-top: -40px;
  }

  .card {
    width: 436px;
    height: 300px;
    padding: 15px;
    margin: 15px;
    text-align: center;
    overflow: scroll;
  }
  .our-brand-img {
    margin-left: 70px;
  }
  .card > .key-content > ul {
    line-height: 22px;
    font-size: 14px;
  }
  .card > p {
    line-height: 30px;
    font-size: 15px;
  }
  /* .profile-content {
    height: 400px;
    margin-top: -30px;
    width: 300px;
    font-size: 12px;
  } */
  .ballot {
    padding: 10px 2px;
    border-radius: 20px;
    /* width: 100px; */
    margin: 0 auto;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .section-inner-container {
    margin-top: -50px;
  }
  .header-profile {
    background-size: cover;
    height: auto;
  }

  .profile-card {
    height: auto;
  }

  .card-img {
    width: 100%;
  }
  .profile-content {
    text-align: center;
    line-height: 5px;
  }
  .profile-content h2 {
    font-size: 18px;
  }
  .profile-content h4 {
    font-size: 14px;
  }
  .profile-content img {
    width: 100%;
  }
  .li_member {
    height: 65%;
  }
  .key-content {
    position: relative;
    overflow: auto;
    height: 100%;
    padding: 10px;
  }
  .key-content > ul {
    position: relative;
    font-size: 12px;
    background: url("/img/list.png") no-repeat left top;
    background-size: 25px 27px;
    margin-left: -12px;
  }
  .key-content > ul > li {
    padding-left: 10px;
  }
  .trapezoid-bio > img {
    width: 140px;
    font-size: 10px;
  }
  .trapezoid-bio {
    font-size: 15px;
  }
  .sliderBtn {
    margin-top: -60px;
  }
  .li_member > .member-details > div {
    /* padding: 20px 30px; */
    height: 100px;
    line-height: 14px;
  }
  .li_member > .member-details .button {
    /* padding: 20px 30px; */
    position: absolute;
    left: 20%;
    top: 60%;
    margin-top: 104px !important;
  }
  .li_member > .member-details .ballot {
    /* padding: 20px 30px; */
    position: absolute;
    left: 25%;
    top: 60%;
    margin-top: 50px !important;
  }
  .profile-section > img {
    width: 77%;
  }
}
@media (max-width: 1024px) {
  .profile-card {
    height: 470px;
  }
  .card-img {
    margin-left: 15px;
    margin-top: -15px;
  }
  .trapezoid-bio > img {
    width: 158px;
  }
  .card-content {
    margin-top: -30px;
    height: 219px;
    font-size: 15px;
    line-height: 25px;
  }
  .key-content {
    margin-top: -31px;
    margin-left: -13px;
    height: 219px;
  }
  .key-content > ul > li {
    padding-left: 0px;
  }
  .trapezoid-bio > img {
    width: 100%;
  }
  .card-title {
    top: 34%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: #e7eeff;
    line-height: 15px;
    font-weight: 700;
    font-size: 14px;
  }
  .trapezoid-bio > img {
    width: 104%;
  }
  .trapezoid-bio {
    margin: -39px 23px;
  }
}
@media (max-width: 768px) {
  .header-profile {
    margin-bottom: -60vh;
    height: 175vh;
  }
  .profile-card {
    height: 395px !important;
  }
  .card-img {
    margin-left: 5px;
    margin-top: -16px;
  }
  .trapezoid-bio > img {
    width: 100%;
  }
  .trapezoid-bio {
    width: 163px;
    margin: -28px 5px;
  }
  .card-title {
    top: 33%;
    left: 49%;
    line-height: 14px;
    font-weight: 700;
    font-size: 13px;
  }
  .card {
    border-radius: 43px;
  }
}

@media (max-width: 425px) {
  .header-profile {
    margin-bottom: -126vh;
    height: 447vh;
  }
  .profile-card {
    height: 550px !important;
    width: auto !important;
    order: -1;
  }
  .trapezoid-bio {
    width: 163px;
    margin: -28px 100px;
  }
  .card-content,
  .key-content > ul > li {
    font-size: 20px;
    line-height: 35px;
  }
  .card-img {
    margin-left: 27px;
    margin-top: -15px;
  }
}
@media (max-width: 414px) {
  .header-profile {
    height: 392vh;
    margin-bottom: -90vh;
  }
}
@media (max-width: 411px) {
  .header-profile {
    height: 380vh;
    margin-bottom: -90vh;
  }
}
@media (max-width: 375px) {
  .header-profile {
    height: 433vh;
    margin-bottom: -126vh;
  }
  .profile-card {
    height: 500px !important;
    width: auto !important;
    order: -1;
  }
  .card {
    width: 314px !important;
  }
  .trapezoid-bio {
    width: 163px;
    margin: -28px 78px;
  }
}
@media (max-width: 360px) {
  .header-profile {
    height: 425vh;
    margin-bottom: -100vh;
  }
}
@media (max-width: 320px) {
  .header-profile {
    height: 505vh;
    margin-bottom: -90vh;
  }
}
